.text-center {
    text-align: center !important;
}

.blink {
    animation: blinker 1s linear infinite;
}

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hide {
    display: none;
}

#av-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#av-video {
    position: absolute;
    z-index: 9;
}

#av-canvas {
    position: absolute;
    z-index: 80;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
